.baner_content-listpost_recent {
	background-color: #fff!important;
	color: black !important;
	margin-top: 30px !important;
	>h4{
		color: black!important;
	}
}
.recent_post_title {
	>a {
		color: black!important;
	}
}
.recent_post_time {
	font-size: 13px!important;
	color: rgba(0,0,0,.38)!important;
}

